.days-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .days-container {
    width: 70%;

    .days {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      cursor: pointer;

      .days-item {
        width: 150px;
        height: 180px;
        border: 1px solid #737373;
        background-color: #081220;
        justify-content: center;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .days-title {
          font-size: 24px;
          font-weight: 700;
        }

        .days-logo {
          width: 50px;
        }
      }
    }

    .days-item.active {
      background-color: #1e3557;
      cursor: pointer;
    }

    .days-item.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .weekdays {
    width: 120px;
    height: 120px;
    background-color: #761a1a;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 15px #ad1a1a;

    .weekdays-image {
      width: 200px;
    }
  }
}

@media (max-width: 768px) {
  .days-section {
    padding-block: 50px;
    .weekdays {
      width: 90px;
      height: 100px;
      .weekdays-image {
        width: 150px;
      }
    }
    .days-container {
      width: 100%;
      .days {
        gap: 15px;
        .days-item {
          width: 100px;
          height: 100px;

          .days-title {
            font-size: 18px;
            font-weight: 500;
            margin: 0px;
          }
          .days-logo {
            width: 30px;
          }
        }
      }
    }
  }
}
