.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  overflow: hidden; /* Ensure content stays within bounds */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
  border: 1px solid white;
  border-radius: 5px;

  .content {
    position: relative;
    text-align: center;
    color: #13c5f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
  }

  .erroricon {
    width: 150px;
    margin-bottom: 20px;
  }

  .main-text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .sub-text {
    font-size: 18px;
    font-weight: 600;
    color: #f556b7;
    margin-bottom: 20px;
  }

  .icon {
    width: 40px;
    margin-top: 20px;
  }
  .footer-logo {
    width: 150px;
    margin-top: 20px;
  }
}

.content-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 1px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #13c5f0, #f556b7);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude; /* For Chrome/Safari */
}
