//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./fonts.scss";
@import "./Mine.scss";
@import "./days.scss";
@import "./frens.scss";
@import "./name.scss";
@import "./task.scss";
@import "./Error.scss";
@import "./Loading.scss";

body,
html {
  background-color: #0b182b;
  overscroll-behavior: none;
  height: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.header-container {
  background-color: black;
  cursor: pointer;
  .icon-container {
    width: 50px;
    display: flex;
    justify-content: end;
    .custom-icon {
      border: 1px solid #fafafa;
      padding-block: 0px;
      border-radius: 20px;
      padding-inline: 5px;
      font-size: 20px;
    }
  }
  .bot {
    color: #b4b2b9;
  }
}

.header {
  background-color: #0b182b;
  min-height: 100vh;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fafafa;
  border-radius: 25px;
  width: 70%;

  .navbar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    padding-inline: 15px;
    padding-block: 5px;
    margin-inline: 15px;
    margin-block: 5px;
    cursor: pointer;
  }
  .selected-icon {
    background-color: black;
    border-radius: 15px;
    border: 1px solid #fafafa;
  }
}

.navbar-mobile {
  background: #15253b;
  position: fixed;
  bottom: -5px;
  width: 100%;
  padding: 2px 20px 2px 20px;

  .navbar-items-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    font-weight: 800;
    width: 70px;
    // padding-inline: 7px;
    padding-block: 6px;
    // margin-inline: 11px;
    margin-block: 13px;
    position: relative;
    text-wrap: nowrap;
    top: -8px;
    cursor: pointer;
  }
  .selected-icon {
    background-color: #1e3557;
    border-radius: 10px;
  }
}

.claim-button {
  width: 250px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  background-color: #15253b;
  color: white;
  border-radius: 5px;
  border: 1px solid #737373;
}
.container-custom {
  @media (min-width: 992px) {
    max-width: 90%;
  }
}
