//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./fonts.scss";
@import "./Mine.scss";
@import "./days.scss";
@import "./frens.scss";
@import "./name.scss";
@import "./task.scss";

.header {
  background-color: #0a1628;
  min-height: 100vh;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fafafa;
  border-radius: 25px;
  width: 70%;

  .navbar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    padding-inline: 15px;
    padding-block: 5px;
    margin-inline: 15px;
    margin-block: 5px;
    cursor: pointer;
  }
  .selected-icon {
    background-color: black;
    border-radius: 15px;
    border: 1px solid #fafafa;
  }
}

.claim-button {
  width: 250px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  background-color: #222222;
  color: white;
  border-radius: 30px;
  border: 1px solid #fafafa;
}

.container-custom {
  @media (min-width: 992px) {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    .navbar-items {
      font-size: 12px;
      font-weight: 700;
      padding-inline: 10px;
      padding-block: 8px;
      margin-inline: 5px;
      margin-block: 0px;
    }
  }
}
