.heading {
  font-size: 32px;
  font-weight: 900;
  margin: 0;
}
.logo {
  width: 30px;
  height: auto;
}
.menu-logo {
  width: 40px;
  height: auto;
}
.earn-amount {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}
.earn-logo {
  width: 50px;
  height: auto;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-block: 20px;

  h6 {
    font-size: 8px;
  }
  h5 {
    margin-block: 2px;
    font-size: 14px;
  }

  .product {
    border: 1px solid #737373;
    background-color: #081220;
    border-radius: 10px;
    width: 110px;
  .earning-logo{
    width: 10px;
  }
    .dollar {
      width:13px;
    }
    .product-heading {
      text-align: center;
      margin-inline: 6px;
      border-bottom: 1px solid #737373;
      font-size: 14px;
      width: 75px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 43px;
      font-weight: 600;
      margin-bottom: 3px;
      text-wrap: wrap;
    }
    .product-image {
      width: 60px;
      height: 50px;
      object-fit: contain;
    }
  }
}
.mine-logo{
  width: 24px;
}
.mine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .mine-start {
    width: 120px;
    height: 120px;
    background: linear-gradient(108deg, #f556b8, #14c5f0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 15px rgba(245, 86, 184, 0.5),
      0 0 50px 15px rgba(20, 197, 240, 0.5);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}

.farming {
  border: 1px solid #fafafa;
  background-color: black;
  border-radius: 40px;
  gap: 5px;
  padding: 30px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fafafa;
  border-radius: 10px;

  .mine-items {
    font-size: 28px;
    font-weight: 900;
    padding: 5px;
    margin-inline: 15px;
    margin-block: 10px;
    cursor: pointer;
    text-wrap: nowrap;
  }
  .selected-icon {
    background-color: #1e3557;
    border-radius: 10px;
  }
}

.electronics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .electronics {
    background-color: black;
    border-radius: 50px;
    gap: 5px;
    width: 370px;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fafafa;

    .electronics-body {
      padding: 20px;

      .bitcoin-image {
        width: 100px;
        height: auto;
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .mine-section {
    padding-block: 50px;
  }
  .heading {
    font-size: 20px;
    font-weight: 800;
  }
  .menu-logo {
    width: 25px;
    height: 25px;
  }
  .earn-amount {
    font-size: 35px;
  }
  .logo {
    width: 20px;
    height: auto;
  }
  .earn-logo {
    width: 40px;
  }
  .mine {
    width: 100%;
    .mine-items {
      font-size: 12px;
      font-weight: 500;
      padding-inline: 8px;
      margin-inline: 0px;
      margin-block: 0px;
      padding-block: 10px;
    }
  }
  .electronics-container {
    flex-direction: column;
    gap: 20px;
    .electronics {
      width: 300px;
    }
  }
}