.task-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .task-container {
    width: 99px;
    height: 90px;
    background: linear-gradient(108deg, #6f5765, #536d74);
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 15px rgba(245, 86, 184, 0.5),
      0 0 50px 15px rgba(20, 197, 240, 0.5);

    .task-image {
      width: 170px;
    }
  }

  .follow-container {
    width: 600px;
    border: 1px solid #fafafa;
    border-radius: 15px;
    background-color: black;
    height: 80px;
    cursor: pointer;

    .follow-images {
      width: 70px;
      height: 70px;
      margin-inline: 15px;
    }
    .task-heading {
      font-size: 28px;
      font-weight: 700;
    }

    .x-image {
      filter: invert(1);
    }

    .completed-tick {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 768px) {
  .task-section .follow-container {
    width: 100%;
    gap: 50px;
    .follow-images {
      width: 50px;
      height: 40px;
      margin-inline: 10px;
    }
    .task-heading {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
