.task-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .task {
    width: 100%;
  }
  .task-container {
    width: 99px;
    height: 90px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .task-image {
      width: 210px;
    }
  }

  .follow-container {
    width: 600px;
    border: 1px solid #737373;
    border-radius: 5px;
    background-color: #081220;
    height: 90px;
    cursor: pointer;

    .follow-images {
      width: 70px;
      height: 70px;
      margin-inline: 15px;
    }
    .task-heading {
      font-size: 24px;
      font-weight: 700;
    }

    .x-image {
      filter: invert(1);
    }
    .tick-container {
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .claim {
        width: 60px;
        height: 35px;
        color: white;
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        display: flex;
        justify-content: center;
        border: 1px solid #737373;
        background-color: #1e3557;
      }
      .completed-tick {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .task-section {
    .task-container {
      width: 70px;
      height: 70px;
      .task-image {
        width: 235px;
      }
    }
    .daily-task-cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
    padding-block: 50px;
    .follow-container {
      width: 100%;
      height: 70px;
      .follow-images {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-inline: 10px;
      }
      .task-heading {
        font-size: 12px;
        font-weight: 600;
      }
      .reward {
        font-size: 14px;
      }
    }
  }
}
